
@media (min-width: $xxl)  {
    .banner{
        height: 100vh;

    }
    .banner__texto{
        top:50%
    }
    .sps--abv{
        background-color:transparent;
  }

}
@media  (max-width: $xl) {
    .footer__input::placeholder{
     text-align: center;
    }
    .sectionConfian__img{
        width: 100%;
    }
    .sectionBeneficios__img{
        width: 120px;
    }
    
  }
@media (max-width: $lg){
    .mainContacto{
        margin: 0 1rem
    }
    .mainContacto__form{
        width: 100%;
    }
   
    .mainConctacto__formContainer{
        width: 100%;
    }
    .mainContacto__button {
        width: 100%;
        margin: 0 1rem;
    }
  }
  @media (max-width:$md ) {
    .textarea{
        flex-shrink: 0;
        width: 20rem;
    }
  
}
@media (max-width:$s) {
    .mainContacto__input{
       width: 13rem;
       flex-direction: row;
    }
   
  }
@media (max-width:$xs ) {
    .mainContacto__input{
        width: 11rem;  
   }
  }
