* {
  font-size: 62.5%; }

body {
  background-color: #f1f1f1; }

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

p, a, label, input, span {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; }

h1 {
  font-size: 3.2rem;
  color: #e4e0c5; }

h2 {
  font-size: 3rem; }
  h2:hover {
    color: #e4e0c5; }

h3 {
  font-size: 2.5rem; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #e4e0c5; }

header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

.logo {
  width: 200px; }

.navbar {
  height: auto;
  padding: 1.2rem 0; }

.whatsapp {
  position: fixed;
  width: 6rem;
  height: 6rem;
  bottom: 4rem;
  right: 4rem;
  background-color: #575756;
  color: #e4e0c5;
  border-radius: 5rem;
  text-align: center;
  font-size: 3rem;
  z-index: 100;
  transition: all 0.2s; }
  .whatsapp:hover {
    background-color: #e4e0c5;
    color: #575756;
    transform: scale(1.2); }
  .whatsapp .whatsapp-icon {
    margin-top: 1.3rem; }

.button {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 30px;
  font-size: 15px;
  font-weight: 700;
  background-color: #575756;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; }
  .button:hover {
    background-color: #575756;
    color: #e4e0c5; }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(10, auto);
  grid-template-areas: "header header" "main main" "main main" "main main" "main main" "main main" "main main" "main main" "main main" "footer footer"; }

.sps--abv {
  background-color: #000;
  color: #000; }

.sps--blw {
  background-color: #000;
  box-shadow: 0px 5px 15px 0px rgba(74, 74, 74, 0.51); }

.header__navegacion {
  display: flex;
  flex-basis: 100%;
  justify-content: space-evenly;
  font-size: 2rem;
  font-weight: bold; }

.nav-link {
  color: #e4e0c5; }

span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.nav-link:hover {
  background-color: #ffffff38;
  color: #e4e0c5;
  border-radius: 6px; }

.nav-link:visited {
  color: #e4e0c5; }

.active {
  color: #fff; }

.footer {
  background-color: #000;
  color: #e4e0c5; }
  .footer .footer__titulo {
    font-size: 2.6rem;
    margin-top: 20px; }
  .footer .footer__input {
    width: 65%;
    border: none;
    margin-top: 1.5rem;
    background-color: #000;
    color: #e4e0c5;
    border-bottom: solid 2px #e4e0c5;
    font-size: 1.5rem;
    font-weight: bold; }
  .footer .footer__input:focus {
    outline: none; }
  .footer .footer__label {
    font-weight: bold; }
    .footer .footer__label:focus {
      border-bottom: solid 2px #e4e0c5; }
    .footer .footer__label::placeholder {
      color: #fff; }
  .footer .footer__button {
    margin: 20px 0;
    transition: background-color 0.3s; }
    .footer .footer__button:hover {
      background-color: #e4e0c5;
      color: #000; }
  .footer .footer__subtitulo {
    font-size: 2.2rem; }
    .footer .footer__subtitulo:hover {
      display: inline-block;
      background-color: #ffffff38;
      color: #e4e0c5;
      border-radius: 6px; }

.banner {
  height: 40rem;
  width: 100%; }

.banner__texto {
  height: 60rem;
  z-index: 10;
  position: absolute;
  top: 15rem;
  left: 0;
  right: 0;
  bottom: 0;
  color: #e4e0c5; }

.banner__p {
  color: #e4e0c5; }

.main__subtitulo {
  color: #e4e0c5; }

.header__p {
  color: #e4e0c5; }

.sectionCursos__img, .sectionBlog__img {
  width: 100%; }

.section__titulo {
  background-color: #000;
  color: #e4e0c5;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 1rem; }

.sectionCursos__img:hover, .sectionBlog__article:hover, .mainNosotros__section:hover {
  box-shadow: 0px 5px 15px 0px rgba(74, 74, 74, 0.51); }

.sectionCursos__img {
  transition: box-shadow 0.3s;
  filter: brightness(70%); }
  .sectionCursos__img:hover {
    box-shadow: 0px 5px 15px 0px rgba(74, 74, 74, 0.51); }

.sectionCursos__subtitulo {
  position: relative;
  bottom: 5rem;
  z-index: 10;
  color: #e4e0c5; }

.sectionBeneficios__img {
  width: 150px;
  transition: transform 0.2s; }
  .sectionBeneficios__img:hover {
    transform: scale(1.1); }

.sectionBlog__article {
  width: 55rem;
  background-color: #e4e1e1;
  transition: box-shadow 0.3s;
  margin: 0 auto; }

.sectionConfian__img {
  width: 50%;
  box-shadow: 0px 5px 15px 0px rgba(74, 74, 74, 0.51); }

.mainContacto__titulo {
  text-align: center;
  color: #000;
  margin: 1rem; }

.mainConctacto__formContainer {
  background-image: url(../img/contacto.jpg);
  background-size: cover;
  height: 40rem;
  width: 80%;
  margin: 0 auto; }

.mainContacto__form {
  width: 80%;
  background-color: #e4e1e1;
  margin: -5rem auto 2rem auto;
  padding: 5rem;
  border-radius: 1rem; }
  .mainContacto__form .form-control {
    background-color: #fff;
    border: none;
    padding-left: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    border-radius: 0.5rem; }
    .mainContacto__form .form-control::placeholder {
      font-family: 'Open Sans', sans-serif; }
  .mainContacto__form .form-label {
    font-weight: bold; }
  .mainContacto__form .form-input:focus {
    border: 1px solid #784D3C; }

.mainNosotros__container {
  display: flex;
  justify-content: center; }
  .mainNosotros__container .mainNosotros__section {
    width: 55rem;
    background-color: #e4e1e1;
    transition: box-shadow 0.3s;
    margin: 2rem 1rem;
    border-radius: 10px; }
  .mainNosotros__container .mainNosotros__img {
    border-radius: 10px; }
  .mainNosotros__container .mainNosotros__p {
    padding: 1.5rem; }

.destacadoNombre {
  color: #000;
  font-weight: bold; }

.destacadoProfesion {
  color: #784D3C;
  font-weight: bold; }

.destacadoFrase {
  color: #353535;
  font-weight: bold; }

.destacadoFrase {
  font-style: italic; }

@media (min-width: 1100px) {
  .banner {
    height: 100vh; }
  .banner__texto {
    top: 50%; }
  .sps--abv {
    background-color: transparent; }
  .banner__subtitulo {
    font-size: 3.5rem; }
  .banner__p {
    font-size: 2.5rem; } }

@media (max-width: 860px) {
  .sectionConfian__img {
    width: 100%; }
  .sectionBeneficios__img {
    width: 120px; }
  .mainNosotros__container {
    flex-direction: column;
    align-items: center; }
    .mainNosotros__container .mainNosotros__section {
      width: 90%;
      margin: 1rem 0; }
  .button__contacto {
    width: 100%; }
  .footer .footer__titulo {
    font-size: 2.4rem; }
  .footer .footer__subtitulo {
    font-size: 2rem; }
  .footer__input::placeholder {
    text-align: center; } }

@media (min-width: 770px) and (max-width: 1400px) {
  .sectionCursos__subtitulo {
    bottom: 3.8rem; } }

@media (max-width: 769px) {
  .sectionCursos__subtitulo {
    bottom: 4.2rem; } }
