@import './root/_root.scss';
@import './globales/_globales.scss' ;
@import './header/_header.scss';
@import './footer/_footer.scss';
@import './banner/_banner.scss';
@import './sections/_sections.scss';
@import './section-cursos/_sectionCursos.scss';
@import './section-beneficios/_sectionBeneficios.scss';
@import './section-blog/_sectionBlog.scss';
@import './section-confian/_sectionConfian.scss';
@import './contacto/contacto.scss';
@import './media-queries/_mq.scss'

