@import './globales/_root.scss';
@import './globales/_globales.scss' ;
@import './utilidades/boton.scss';
@import 'utilidades/contenedor.scss';
@import './header-footer/_header.scss';
@import './header-footer/footer.scss';
@import './sections/_banner.scss';
@import './sections/_sectionsGlobales.scss';
@import './sections/_sectionCursos.scss';
@import './sections/_sectionBeneficios.scss';
@import './sections/_sectionBlog.scss';
@import './sections/_sectionConfian.scss';
@import './sections/contacto.scss';
@import './sections/nosotros.scss';
@import './globales/_mq.scss'

