.section__titulo{
    background-color:  $negro;
    color: $principal;
    border-radius: 10px;
    margin: 1rem 0;
    padding: 1rem
    
}
.sectionCursos__img , .sectionBlog__article, .mainNosotros__section{
    &:hover{
    box-shadow: 0px 5px 15px 0px rgba(74,74,74,0.51);
    }
}