.footer{
    background-color:$negro;
    color: $principal;

        .footer__titulo{
            font-size: 2.8rem;
            margin-top: 20px; 
        }
        .footer__input{
        width: 65%;
        border: none;
        margin-top: 1.5rem;
        background-color: $negro;
        color: $principal;
        border-bottom: solid 2px $principal;
        font-size: 1.5rem;
        font-weight: bold;
        }
        .footer__label{
            font-weight:bold ;
                &:focus{
                    border-bottom: solid 2px $principal;
                }
                    &::placeholder{
                        color: #fff;
                    }
        } 
        .footer__input{
            &:focus{
                outline: none;
            }
        }
        .footer__button{
            margin: 20px 0;
            transition: background-color 0.3s; 
            &:hover{
                background-color: $principal;
                color: $negro;
            }
        }
                .footer__subtitulo{
                    font-size: 2.2rem;
                
                    
                    
                        &:hover{
                        
                        display: inline-block;
                        background-color: $transparente;
                        color: $principal;
                        border-radius: 6px;
                        
                    }
                }
    
}




