.sps--abv{
    background-color: $negro;
    color:$negro
}
.sps--blw{
    background-color: $negro;
    box-shadow: 0px 5px 15px 0px rgba(74,74,74,0.51);
}
.header__navegacion{
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
    font-size: 2rem;
    font-weight: bold;
       
}
.nav-link{
    color: $principal;
}

span.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}
.nav-link{
        &:hover{
             background-color: $transparente;
             color: $principal;
             border-radius: 6px;
        
}       
        &:visited{
            color: $principal;
        }
}
.active{
    color:#fff;
}
