.sps--abv{
    background-color: $negro;
    color:$negro
}
.sps--blw{
    background-color: $negro;
}
.header__navegacion{
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
    font-size: 2rem;
    font-weight: bold;
      
}
.nav-item{
        &:hover{
             background-color: $transparente;
             color: $blanco;
             border-radius: 6px;
}
}