.banner{
    height: 40rem;  
    width: 100%;     
}
.banner__texto{
    height: 60rem;
    z-index: 10;
    position: absolute;
    top: 15rem;
    left: 0;
    right: 0;
    bottom: 0;
  
    }   
        .banner__p{
    color: $blanco;
    }
        .main__subtitulo{
    color: $blanco;
    }
        .header__p{
    color: $blanco;
    }


