.banner{
    height: 400px;  
    width: 100%;     
}
.banner__texto{
    height: 600px;
    z-index: 10;
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    bottom: 0;
  
    }   
        .banner__p{
    color: #fff;
    }
        .main__subtitulo{
    color:#fff;
    }
        .header__p{
    color: #fff;
    }


