.sectionCursos__img, .sectionBlog__img{
    width: 100%;
}
.sectionCursos__img{
    transition: box-shadow 0.3s;
        &:hover{
            box-shadow: 0px 5px 15px 0px rgba(74,74,74,0.51);
        }
}

.sectionCursos__subtitulo{
    position: relative;
    bottom: 3rem;
    z-index: 10;
    color: #fff;
}
