*{
    font-size: 62.5%;

}
h1,h2,h3,h4{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold; 
}
p, a, label, input,span{
    font-family:'Open Sans', sans-serif;
    font-size: 1.8rem;

}
h1{
    font-size: 3.2rem;
    color: #fff;

    
}
h2{
    font-size: 3rem;
        &:hover{
            color:#fff
        }
}
h3{
    font-size: 2.5rem;
}

ul{
    list-style: none;
    
}
a{
    text-decoration: none;
    color: #fff;
   
}
