// tamaños

$xxl: 1100px;
$xl: 860px;

// colores

$principal: rgb(228, 224, 197);
$secundario: rgb(87,87,86);
$negro: #000;
$principalClaro: rgb(228, 224, 212);
$marronOscuro: #784D3C;
$marronClaro: #885845;
$gris: #e4e1e1;
$transparente: #ffffff38;


