.mainContacto__titulo{
    text-align: center;
    color: $negro;
    margin: 1rem;
}

.mainConctacto__formContainer{
    background-image: url(../img/contacto.jpg);
    background-size: cover;
    height: 40rem;
    width: 80%;
    margin: 0 auto;
}

             
.mainContacto__form{
        width: 80%;
        background-color: $gris;
        margin: -5rem auto 2rem auto;
        padding: 5rem;
        border-radius: 1rem;
            .form-control{
                background-color: $blanco;
                border: none;
                padding-left: 0.5rem;
                font-family: 'Open Sans', sans-serif;
                font-size: 1.5rem;
                border-radius: 0.5rem;
                    &::placeholder{
                        font-family: 'Open Sans', sans-serif; 
                    }
            }
            .form-label{
                font-weight:bold;
                
            }      
    }    
                    
